// colors
$black: #242424;
$grey: #8f9096;
$grey-light:#dfe2e0;
$grey-light-x:#f2f4f3;
$grey-light-xx:#f8f8f8;
$yellow: #fff036;
$orange: #f87761;
$green: #7bbb96;
$blue: #6fc9d6;


// font weight
$font-weight-normal: 'normal';
$font-weight-bold: 600;
$font-weight-bolder: 800;
