// colors
$black: #242424;
$grey: #8f9096;
$grey-light:#dfe2e0;
$grey-light-x:#f2f4f3;
$grey-light-xx:#f6f8fa;
$yellow: #fff036;
$orange: #f87761;
$green: #7bbb96;
$blue: #6fc9d6;

$primary: $orange;

// font size
$font-xs: .8rem;
$font-sm: .9rem;
$font-md: 1.15rem;
$font-lg: 1.35rem;
$font-xl: 1.5rem;
$font-xxl: 1.9rem;

// font weight
$font-w100: 100;
$font-w200: 200;
$font-w300: 300;
$font-w400: 400;
$font-w500: 500;
$font-w600: 600;
$font-w700: 700;
$font-w800: 800;
$font-w900: 900;
